.header {
  padding: 15px 0;
  border-bottom: 1px solid var(--dark-grey);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--container-width);
  margin: 0 auto;
}

@media screen and (max-width: 1440px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    flex-direction: column;
    width: 100%;
  }
}

.title {
  font-size: var(--title-font-size);
}

@media screen and (max-width: 490px) {
  .title {
    display: none;
  }
}

.error {
  color: red;
}

.primaryText {
  color: var(--accent-color);
}

@media screen and (max-width: 400px) {
  .primaryText {
    order: 2;
  }
}