.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.inputsBlock {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 490px) {
  .inputsBlock {
    flex-direction: column;
    width: 100%;
  }
}