.container {
    max-width: var(--container-width);
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media screen and (max-width: 1440px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.card {
    background-color: var(--dark-grey);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.text {
    font-size: 17px;
    text-wrap: wrap;
    overflow-wrap: anywhere;
}

.labelText {
    font-weight: 600;
    color: var(--accent-color);
    font-size: 17px;
}

.error {
    color: red;
}